/* .container {
    padding: 100px;
} */

.activityContent .title {
    background-color: #00BB33;
    color: white;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}


/* .row {
    width: 100%;
    height: 50%;
} */

.activityContent img {
    width: 100%;
    height: 100%;
}

.activityContent .left_column {
    width: 50%;
    float: left;
}

.activityContent .right_column {
    width: 40%;
    margin-left: 5%;
    float: left;
}

.activityContent .right_column .descripe {
    height: 100px;
    overflow: hidden;
}