/* .activityContent {
    border-radius: 5px;
    background-color: #fff;
    width: auto;
    height: auto;
    padding: 60px,;
} */

navbar {}

.container {
    margin: 60px;
}

.activityContent .title {
    background-color: #00BB33;
    color: white;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

.activityContent img {
    width: 100%;
    height: auto;
}

.activityContent .left_column {
    width: 50%;
    float: left;
}

.activityContent .right_column {
    width: 40%;
    margin-left: 5%;
    float: left;
}

.activityContent .right_column .descripe {
    height: 100px;
    overflow: hidden;
}

.activityContent .readmore {
    color: white;
    background-color: #00BB33;
    text-decoration: none;
}

@media screen {
    .left-board {
        border: 1px solid #c6e0ed;
        border-radius: 10px;
        background-color: #e7e7e7;
        width: 10%;
        position: fixed;
        top: 30%;
        left: 30px;
        padding: 10px;
    }
    .left-board .btn {
        width: 80px;
        margin: 10px 0;
    }
}

@media screen and (max-width: 1000px) {
    .left-board {
        border: 1px solid #c6e0ed;
        border-radius: 10px;
        background-color: #e7e7e7;
        width: 100%;
        position: relative;
        left: 30px;
        padding: 10px;
    }
    .left-board .btn {
        width: 80px;
        margin: 10px 0;
    }
    .left-board .inline-block>div {
        display: inline-block;
    }
}